AZURE_OPENAI_ENDPOINT=https://aif-soft-eng-gen-ai-ken.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-10-21
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o-mini
AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-small

AZURE_SEARCH_ENDPOINT=https://srch-soft-eng-gen-ai-ken.search.windows.net
AZURE_SEARCH_INDEX=kb-bank-ai-searches-index

ALLOWED_ORIGINS=http://localhost:5173
